.header__bottom--cart--user {
    flex-wrap: wrap;
    align-items: center;
    color: #FFFFFF;
    justify-content: center;
}

.container, [class*='col-'] {
    padding-left: 8px;
    padding-right: 8px;
}

@media (min-width: 992px)
.d-lg-flex {
    display: flex!important;
}

@media (min-width: 992px)
.col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

@media (min-width: 992px) and (max-width: 1200px)
.header__bottom--user {
    margin-right: 0;
    margin-bottom: 0;
}

.header__bottom--user {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding-bottom: 0.71429em;
    color: black;
    padding-right: 300px;
}

.header__bottom--user--icon {
    margin-right: 20px;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

:not(svg) {
    transform-origin: 0 0;
}

* {
    margin: 0;
    padding: 0;
}

.header__bottom--user--text span:nth-child(1) {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 6.66667em;
    overflow: hidden;
}

.header__bottom--user--text span {
    display: block;
    font-size: 0.85714em;
}

.header__bottom--user--text span:nth-child(2) {
    font-size: 0.91667em;

}

.header__bottom--user--wrap {
    display: none;
    min-width: 14em;
    box-shadow: rgba(0, 0, 0, 0.18) 0 0.42857em 0.85714em 0;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0.07143em;
    border-style: solid;
    border-color: #efefef;
    border-image: initial;
    background: #007bff;
    list-style: none;
    margin: 0;
    padding: 0.71429em 0;
    border-radius: 0 0 0.21429em 0.21429em;
    z-index: 10;
}

.header__bottom--user--wrap ul {
    margin: 0;
    padding: 0;
}

.header__bottom--user--wrap ul li a {
    color: #4a4a4a;
    display: inline-block;
    font-weight: 400;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    width: 14.28571em;
    text-shadow: #ababab 0 0 1px;
    border-width: 0;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 0.28571em;
    outline: none;
    padding: 8px 20px;
}

.header__bottom--cart {
    position: relative;
    width: 3.42857em;
}

.row {
    margin-left: -7.5px;
    margin-right: -7.5px;
    display: flex;
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center!important;
}

@media (min-width: 992px) and (max-width: 1199.98px)
.container {
    max-width: 990px;
}
.container, [class*='col-'] {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
}

*, ::after, ::before {
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

a, a:hover, a:focus {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

a {
    background-color: transparent;
}

