#layout-page .Account__StyleInfo {
    flex: 1 1 0%;
}
#layout-page .Account__StyleInfo h1 {
    font-size: 20px;
    line-height: 21px;
    font-weight: 700;
    margin: 15px 0px;
}
h1 {
    font-size: 2.28571em;
    font-weight: 700;
}
.h1, h1 {
    font-size: 2.5rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}
#iframeDHS {
    width: 100%;
    height: 1000px;
}
img, iframe, video {
    max-width: 100%;
}
